@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Poppins';
    --color-zinc-50: var(--color-gray-50);
    --color-zinc-100: var(--color-gray-100);
    --color-zinc-200: var(--color-gray-200);
    --color-zinc-300: var(--color-gray-300);
    --color-zinc-400: var(--color-gray-400);
    --color-zinc-500: var(--color-gray-500);
    --color-zinc-600: var(--color-gray-600);
    --color-zinc-700: var(--color-gray-700);
    --color-zinc-800: var(--color-gray-800);
    --color-zinc-900: var(--color-gray-900);
    --color-zinc-950: var(--color-gray-950);
}

@theme {
    --color-accent: var(--color-sky-600);
    --color-accent-content: var(--color-sky-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-sky-600);
        --color-accent-content: var(--color-sky-400);
        --color-accent-foreground: var(--color-white);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */


/* Flip countdown */
.flip-card {
    width: 60px;
    height: 80px;
    perspective: 1000px;
}

.flip-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(.4,0,.2,1);
}

.flip-inner.flip {
    transform: rotateX(-180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    @apply bg-black text-white text-5xl font-bold flex items-center justify-center rounded-lg;
}

.flip-back {
    transform: rotateX(180deg);
}

.separator {
    @apply text-4xl font-bold mx-1;
}
/* Flip countdown */

/* running text marquee */
.marquee-container {
  overflow: hidden; /* Sembunyikan teks yang keluar kotak */
  white-space: nowrap; /* Biarkan teks memanjang ke samping */
}

.marquee-content {
  display: inline-block;
  animation: jalan-terus 100s linear infinite; /* Atur durasi di sini */
}

.marquee-content span {
  display: inline-block;
  padding-right: 50px; /* Jarak antar grup teks */
}

@keyframes jalan-terus {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); } /* Geser hanya setengahnya karena ada duplikat */
}
/* running text marquee */
